In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
cursor = conn.cursor()

In [3]:
cursor.execute('SELECT * FROM Facilities')
results = cursor.fetchall()
print(results)

[(0, 'Tennis Court 1', 5, 25, 10000, 200), (1, 'Tennis Court 2', 5, 25, 8000, 200), (2, 'Badminton Court', 0, 15.5, 4000, 50), (3, 'Table Tennis', 0, 5, 320, 10), (4, 'Massage Room 1', 9.9, 80, 4000, 3000), (5, 'Massage Room 2', 9.9, 80, 4000, 3000), (6, 'Squash Court', 3.5, 17.5, 5000, 80), (7, 'Snooker Table', 0, 5, 450, 15), (8, 'Pool Table', 0, 5, 400, 15)]

In [ ]:
QUESTIONS

In [9]:
# Q1: Some of the facilities charge a fee to members, but some do not.
#Write a SQL query to produce a list of the names of the facilities that do. 

cursor.execute('SELECT DISTINCT(name),membercost FROM Facilities WHERE membercost NOT IN (0)')
results = cursor.fetchall()
print(results)

[('Tennis Court 1', 5), ('Tennis Court 2', 5), ('Massage Room 1', 9.9), ('Massage Room 2', 9.9), ('Squash Court', 3.5)]

In [10]:
# Q2: How many facilities do not charge a fee to members? */

cursor.execute('SELECT DISTINCT(name),membercost FROM Facilities WHERE membercost IN (0)')
results = cursor.fetchall()
print(results)

[('Badminton Court', 0), ('Table Tennis', 0), ('Snooker Table', 0), ('Pool Table', 0)]

In [14]:
# * Q3: Write an SQL query to show a list of facilities that charge a fee to members,
# where the fee is less than 20% of the facility's monthly maintenance cost.
# Return the facid, facility name, member cost, and monthly maintenance of the
# facilities in question.

cursor.execute('SELECT facid, name, membercost, monthlymaintenance FROM `Facilities` WHERE membercost < 0.2 *(monthlymaintenance) AND membercost NOT IN (0)')
results = cursor.fetchall()
print(results)

[(0, 'Tennis Court 1', 5, 200), (1, 'Tennis Court 2', 5, 200), (4, 'Massage Room 1', 9.9, 3000), (5, 'Massage Room 2', 9.9, 3000), (6, 'Squash Court', 3.5, 80)]

In [16]:
# Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
# Try writing the query without using the OR operator.

cursor.execute('SELECT * FROM `Facilities` WHERE facid IN (1,5)')
results = cursor.fetchall()
print(results)

[(1, 'Tennis Court 2', 5, 25, 8000, 200), (5, 'Massage Room 2', 9.9, 80, 4000, 3000)]

In [29]:
# Q5: Produce a list of facilities, with each labelled as
# 'cheap' or 'expensive', depending on if their monthly maintenance cost is
# more than $100. Return the name and monthly maintenance of the facilities
# in question.

cursor.execute('''
SELECT name, monthlymaintenance,
    CASE WHEN monthlymaintenance > 100 THEN 'Expensive'
    ELSE 'Cheap' END AS labelled
FROM Facilities
''')
results = cursor.fetchall()
print(results)

[('Tennis Court 1', 200, 'Expensive'), ('Tennis Court 2', 200, 'Expensive'), ('Badminton Court', 50, 'Cheap'), ('Table Tennis', 10, 'Cheap'), ('Massage Room 1', 3000, 'Expensive'), ('Massage Room 2', 3000, 'Expensive'), ('Squash Court', 80, 'Cheap'), ('Snooker Table', 15, 'Cheap'), ('Pool Table', 15, 'Cheap')]

In [32]:
#Q6: You'd like to get the first and last name of the last member(s)
#who signed up. Try not to use the LIMIT clause for your solution.

cursor.execute('SELECT firstname , surname, joindate AS joinlast FROM `Members` WHERE joindate =(SELECT MAX(`joindate`) FROM `Members`)')
results = cursor.fetchall()
print(results)

[('Darren', 'Smith', '2012-09-26 18:08:45')]

In [69]:
# Q7: Produce a list of all members who have used a tennis court.
# Include in your output the name of the court, and the name of the member
# formatted as a single column. Ensure no duplicate data, and order by
# the member name.

#Tennis Court 1, Darren Smith

cursor.execute('''
SELECT CONCAT(firstname,' ',surname) AS full_name FROM `Members` WHERE memid IN
(SELECT DISTINCT memid FROM `Bookings` WHERE facid IN (SELECT facid FROM `Facilities` WHERE `name` LIKE '%Tennis Court%'))
''')
results = cursor.fetchall()
print(results)

[('GUEST GUEST',), ('Darren Smith',), ('Tracy Smith',), ('Tim Rownam',), ('Janice Joplette',), ('Gerald Butters',), ('Burton Tracy',), ('Nancy Dare',), ('Tim Boothe',), ('Ponder Stibbons',), ('Charles Owen',), ('David Jones',), ('Anne Baker',), ('Jemima Farrell',), ('Jack Smith',), ('Florence Bader',), ('Timothy Baker',), ('David Pinker',), ('Matthew Genting',), ('Joan Coplin',), ('Ramnaresh Sarwin',), ('Douglas Jones',), ('Henrietta Rumney',), ('David Farrell',), ('Millicent Purview',), ('John Hunt',), ('Erica Crumpet',)]

In [65]:
cursor.execute(''' 
SELECT name FROM `Facilities`
WHERE mem.facid IN
        (SELECT DISTINCT `memid`, facid
        FROM `Bookings` 
        WHERE facid IN (SELECT facid, name FROM `Facilities` WHERE `name` LIKE '%Tennis Court%') ) mem
''')
results = cursor.fetchall()
print(results)

OperationalError: near "mem": syntax error

In [70]:
cursor.execute(''' 
SELECT DISTINCT `memid`, facid
        FROM `Bookings` 
        WHERE facid IN (SELECT facid FROM `Facilities` WHERE `name` LIKE '%Tennis Court%')
''')
results = cursor.fetchall()
print(results)

[(2, 0), (0, 1), (0, 0), (3, 1), (3, 0), (1, 1), (4, 0), (5, 0), (4, 1), (2, 1), (5, 1), (8, 1), (6, 1), (6, 0), (7, 1), (7, 0), (8, 0), (9, 1), (10, 0), (10, 1), (12, 0), (11, 1), (14, 0), (12, 1), (11, 0), (16, 1), (15, 1), (16, 0), (17, 0), (13, 1), (9, 0), (24, 1), (22, 0), (26, 0), (24, 0), (14, 1), (13, 0), (28, 0), (30, 1), (27, 1), (15, 0), (35, 0), (35, 1), (28, 1), (20, 0), (36, 0)]

In [71]:
cursor.execute(''' 
SELECT DISTINCT `memid`, (SELECT name FROM `Facilities` WHERE `name` LIKE '%Tennis Court%')
        FROM `Bookings` 
        WHERE facid IN (SELECT facid FROM `Facilities` WHERE `name` LIKE '%Tennis Court%')
''')
results = cursor.fetchall()
print(results)

[(2, 'Tennis Court 1'), (0, 'Tennis Court 1'), (3, 'Tennis Court 1'), (1, 'Tennis Court 1'), (4, 'Tennis Court 1'), (5, 'Tennis Court 1'), (8, 'Tennis Court 1'), (6, 'Tennis Court 1'), (7, 'Tennis Court 1'), (9, 'Tennis Court 1'), (10, 'Tennis Court 1'), (12, 'Tennis Court 1'), (11, 'Tennis Court 1'), (14, 'Tennis Court 1'), (16, 'Tennis Court 1'), (15, 'Tennis Court 1'), (17, 'Tennis Court 1'), (13, 'Tennis Court 1'), (24, 'Tennis Court 1'), (22, 'Tennis Court 1'), (26, 'Tennis Court 1'), (28, 'Tennis Court 1'), (30, 'Tennis Court 1'), (27, 'Tennis Court 1'), (35, 'Tennis Court 1'), (20, 'Tennis Court 1'), (36, 'Tennis Court 1')]

In [84]:
cursor.execute('''
SELECT DISTINCT CONCAT(firstname,' ',surname) AS full_name, f.name
FROM Members m
JOIN Bookings b ON b.memid = m.memid
JOIN Facilities f ON f.facid = b.facid
WHERE m.memid IN
(SELECT memid FROM `Bookings` WHERE f.facid IN (SELECT facid FROM `Facilities` WHERE `name` LIKE '%Tennis Court%'))

''')
results = cursor.fetchall()
print(results)

[('Tracy Smith', 'Tennis Court 1'), ('GUEST GUEST', 'Tennis Court 2'), ('GUEST GUEST', 'Tennis Court 1'), ('Tim Rownam', 'Tennis Court 2'), ('Tim Rownam', 'Tennis Court 1'), ('Darren Smith', 'Tennis Court 2'), ('Janice Joplette', 'Tennis Court 1'), ('Gerald Butters', 'Tennis Court 1'), ('Janice Joplette', 'Tennis Court 2'), ('Tracy Smith', 'Tennis Court 2'), ('Gerald Butters', 'Tennis Court 2'), ('Tim Boothe', 'Tennis Court 2'), ('Burton Tracy', 'Tennis Court 2'), ('Burton Tracy', 'Tennis Court 1'), ('Nancy Dare', 'Tennis Court 2'), ('Nancy Dare', 'Tennis Court 1'), ('Tim Boothe', 'Tennis Court 1'), ('Ponder Stibbons', 'Tennis Court 2'), ('Charles Owen', 'Tennis Court 1'), ('Charles Owen', 'Tennis Court 2'), ('Anne Baker', 'Tennis Court 1'), ('David Jones', 'Tennis Court 2'), ('Jack Smith', 'Tennis Court 1'), ('Anne Baker', 'Tennis Court 2'), ('David Jones', 'Tennis Court 1'), ('Timothy Baker', 'Tennis Court 2'), ('Florence Bader', 'Tennis Court 2'), ('Timothy Baker', 'Tennis Court 1'), ('David Pinker', 'Tennis Court 1'), ('Jemima Farrell', 'Tennis Court 2'), ('Ponder Stibbons', 'Tennis Court 1'), ('Ramnaresh Sarwin', 'Tennis Court 2'), ('Joan Coplin', 'Tennis Court 1'), ('Douglas Jones', 'Tennis Court 1'), ('Ramnaresh Sarwin', 'Tennis Court 1'), ('Jack Smith', 'Tennis Court 2'), ('Jemima Farrell', 'Tennis Court 1'), ('David Farrell', 'Tennis Court 1'), ('Millicent Purview', 'Tennis Court 2'), ('Henrietta Rumney', 'Tennis Court 2'), ('Florence Bader', 'Tennis Court 1'), ('John Hunt', 'Tennis Court 1'), ('John Hunt', 'Tennis Court 2'), ('David Farrell', 'Tennis Court 2'), ('Matthew Genting', 'Tennis Court 1'), ('Erica Crumpet', 'Tennis Court 1')]

/* Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries. */


/* Q9: This time, produce the same result as in Q8, but using a subquery. */


/* PART 2: SQLite

Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook 
for the following questions.  

QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */